*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
gradle/*
.externalNativeBuild
 .idea/caches/

# Keystore files
# Uncomment the following line if you do not want to check your keystore files in.
#*.jks

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild

## Google Services (e.g. APIs or Firebase)
#google-services.json

gradlew
gradlew.bat
fabric.properties

# IntelliJ
*.iml
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/modules.xml
.idea/dictionaries
.idea/runConfigurations.xml
.idea/libraries
.idea/misc.xml
.idea/vcs.xml

app/development/
app/staging/
app/production/

app/sampledata/
app/src/androidTest/java/com/lemust/ui/
app/src/main/res/values-fr-rBE/
app/staging/
app/build/
/.idea/caches/build_file_checksums.ser
simplehistogram/build/
