<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lemust">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        tools:replace="android:allowBackup"

        android:name=".LeMustApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <receiver
            android:name=".ui.screens.details.ApplicationSelectorReceiver"
            android:exported="true" />

        <provider
            android:name=".ui.screens.sharing.GenericFileProvider"
            android:authorities="${applicationId}.com.lemust.ui.screens.sharing"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.com.lemust"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.screens.splash.SplashActivity"

            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "http://recipe-app.com/recipe" -->
                <data
                    android:host="lemust.com"
                    android:pathPrefix="/open"
                    android:scheme="lemustapp" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lemust.com"
                    android:pathPrefix="/share"
                    android:scheme="lemustapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.details.PlaceDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d217b8a3de781c177191dbe6fa3d42c3275cc7c6" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />


        <activity
            android:name=".ui.screens.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".ui.screens.gallery.GalleryActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.welcome.WelcomeActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hairdresser.services.socials.facebook.FacebookHiddenActivity"
            android:configChanges="keyboardHidden"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:launchMode="singleTop"
            android:name=".ui.screens.auth.AuthActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@style/Translucent"
            tools:replace="android:theme" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.screens.auth.policy.PrivacyPolicyActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.auth.forgot_password.ForgotActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screens.profile.ProfileActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.profile.other_items.OtherItemsActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.profile.days_go_out.DaysGoOutActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.profile.favorites_place.FavoritePlaceActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.profile.change_password.ChangePasswordActivity"

            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.screens.profile.occupation.OccupationActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.base.image_utils.ImagePickerHiddenActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.profile.settings.SettingsActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.profile.location.SearchCityActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.profile.edit_user.EditUserActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.screens.reports.report_frequentation.ReportStatisticActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.reports.report_details.ReportDetailsActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <service
            android:name="com.novoda.merlin.service.MerlinService"
            android:exported="false" />

        <activity
            android:name=".ui.screens.reports.place_name.PlaceNameActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.sharing.SharingActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.reports.report_details.new_item.NewItemActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.screens.left_menu.report.ReportActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.screens.left_menu.city.AvailableCityActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.left_menu.localization.ApplicationLanguageActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.screens.search.SearchActivity"

            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>